<tr>
  <td>
    <%= logo_for position, width: 100 %>
  </td>
  <td>
    <%= link_to position.name, position %>
  </td>
  <td>
    <%= city_for position %>
  </td>
  <td>
    <% if !position.deadline.nil? %>
      <%= position.deadline.to_s(:long) %>
    <% end %>
  </td>
  <td>
    <% if !position.description.nil? %>
      <%= position.description %></br>
    <% end %>
  </td>
  <td>
    <% if !position.duration.nil? %>
      <%= distance_of_time(61.weeks)  %></br>
    <% end %>
  </td>
  <td>
    <% if !position.institution_id.nil? %>
      <%= Institution.find_by_id(position.institution_id).name %>
    <% else %>
      Open
    <% end %>
  </td>
  <td>
    <% if !position.poster.nil? %>
      <%= link_to position.poster.name, position.poster %></br>
    <% end %>
  </td>
</tr>