<tr>
  <td>
    <%= logo_for position, width: 100 %>
  </td>
  <td>
    <%= link_to position.name, position %>
  </td>
  <td>
    <ul class="locale-list">
      <% for locale in position.locales %>
        <li><%= locale_name_short(locale) %></li>
      <% end %>
    </ul>
  </td>
  <td>
    <% if !position.deadline.nil? %>
      <%= position.deadline.strftime('%m/%d/%y') %>
    <% end %>
  </td>
  <td>
    <% if !position.description.nil? %>
      <%= position.description %></br>
    <% end %>
  </td>
  <td>
    <% if !position.duration.nil? %>
      <%= position_duration(position) %></br>
    <% end %>
  </td>
  <td>
    <% if !position.institution_id.nil? %>
      <%= Institution.find_by_id(position.institution_id).name %>
    <% else %>
      Open
    <% end %>
  </td>
  <td>
    <% if !position.poster.nil? %>
      <%= link_to position.poster.name, position.poster %></br>
    <% end %>
  </td>
</tr>