<%= form_for(@position) do |f| %>
    
    <%= render 'shared/positions_error_messages' %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :description %>
    <%= f.text_field :description %>
    
    <div id="edit-location">
        <%= f.label :location_country %>
        <%= f.select :location_country, @countries, { include_blank: true }, action: "/update_provinces_list" %>
        
        <% if @provinces.any? %>
            <%= f.select :location_state, @provinces, { prompt: "Select a State/Province" } %>
        <% end %>
    </div>
        
        <%= f.label :location_city %>
        <%= f.text_field :location_city %>
    
    <%= f.label :deadline %>
    <%= f.text_field :deadline %>
    
    <%= f.label :position_type %>
    <%= f.select :position_type, [['Fellowship', 1],['Internship', 2],['Job', 3],['Other', 0]], include_blank: true %>
    
    <%= f.label :duration %>
    <%= f.select :duration, [['Summer/Seasonal', 1],['6-month', 2],['9-month', 3],['Year-long', 4],['2-year', 5],['> 2-year', 6],['Other', 0]], include_blank: true %>
    
    <div id="edit-institution">
        <%= collection_select :selected_institution, :state, @states, :state, :state, { prompt: 'Select a state' }, action: "/update_institutions_list" %>
      
        <%= f.collection_select :institution_id, @institutions, :id, :name, { include_blank: true }, action: "/update_campuses_list", id: "institution_select"  %>
    
        <% if @campuses.any? %>
            <%= collection_select :user, :campus_id, @campuses, :id, :name, include_blank: true, id: "campus_select" %>
        <% end %>
    </div>
    
    <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
<% end %>