<%= provide(:title, 'All Positions') %>
<h1>All Positions</h1>

<p>
  <%= link_to "Calendar View", "/calview" %>
  <% if signed_in? %>
    | <%= link_to "Add new position", "/newposition" %>
  <% else %>
    
  <% end %>
</p>

<% if @positions.any? %>
<%= will_paginate %>

<table class="positions">
  <td>
  </td>
  <td>
    Name
  </td>
  <td>
    Location
  </td>
  <td>
    Application Deadline
  </td>
  <td>
    Description
  </td>
  <td>
    Duration
  </td>
  <td>
    Institution Specific
  </td>
  <td>
    Posted By
  </td>
  <%= render @positions %>
</table>

<%= will_paginate %>
<% end %>
