<%= provide(:title, 'All Positions') %>
<h1>All Positions</h1>

<p><%= link_to "Calendar View", "/calview" %></p>
<%= will_paginate %>

<table class="positions">
  <td>
  </td>
  <td>
    Name
  </td>
  <td>
    Location
  </td>
  <td>
    Application Deadline
  </td>
  <td>
    Description
  </td>
  <%= render @positions %>
</table>

<%= will_paginate %>
