<%= provide(:title, 'All Positions') %>
<h1>All Positions</h1>

<div class="row">
  <div class="span3">
      <%= form_tag positions_path, :method => 'get', class: "search" do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="row">
          <div class="span2">
            <%= text_field_tag :search, params[:search] %>
          </div>
          <div class="span1">
            <%= submit_tag "Search", :name => nil %>
          </div>
        </div>
        <% end %>
    </div>
  <div class="offset7 span2">
    <ul>
    <li><%= link_to "Calendar View", "/calview", class: "float-right" %></li>
    <% if signed_in? %>
      <li><%= link_to "Add new position", "/newposition", class: "float-right"  %></li>
    <% end %>
    </ul>
  </div>
</div>

<% if @positions.any? %>
<%= will_paginate %>

<table class="positions">
  <tr>
    <th></th>
    <th><%= "name" %></th>
    <th><%= "Location" %></th>
    <th><%= "Application Deadline" %></th>
    <th><%= "description" %></th>
    <th><%= "duration" %></th>
    <th><%= "Institution Specific" %></th>
    <th><%= "Posted By" %></th>
  </tr>
  
  <%= render @positions %>
</table>

<%= will_paginate %>
<% end %>
