<div id="calendar">
  <%= link_to "List View", "/positions" %>
  <h2 id="month">
    <%= link_to "<", month: (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", month: (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @positions, year: @date.year, month: @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(day_method: :try_deadline) do |date, positions| %>
      <%= date.day %>
      <ul>
        <% for position in positions %>
          <li><%= link_to position.name, position %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>