<%= provide(:title, 'All Positions') %>
<h1>All Positions</h1>

<%= will_paginate %>

<table class="positions">
  <td>
  </td>
  <td>
    Name
  </td>
  <td>
    Location
  </td>
  <td>
    Application Deadline
  </td>
  <td>
    Description
  </td>
  <%= render @positions %>
</table>

<%= will_paginate %>

<div id="calendar">
  <%= table_for @positions do |calendar| %>
  <% end %>
</div>