<% provide(:title, @position.name) %>
<div class="row">
  <div class="span16">
    <section>
      <h1>
        <%= logo_for @position %>
      </h1>
      <p>
        <%= @position.name %></br>
        Application deadline:
        <% if !@position.deadline.nil? %>
          <%= @position.deadline.to_s(:long) %>
        <% end %></br>
        Location: <%= city_for @position %></br>
        Type: <%= position_type @position %></br>
        <% if !@position.description.nil? %>
          <%= @position.description %></br>
        <% end %>
        <% if signed_in? %>
          <%= link_to "Edit Position", edit_position_path(@position) %>
        <% end %>
      </p>
    </section>
  </div>
</div>