<% provide(:title, @position.name) %>
<div class="row">
  <div class="span12">
      <h2><%= @position.name %></br>
      <%= logo_for @position %>
      </h2>
      <p>
        <%= full_deadline(@position.deadline) %></br>
        <%= full_position_type(@position.position_type) %></br>
        <%= full_description(@position) %></br>
        Location:
        <%= 'N/A' if @position.locales.empty? %></br>
        <ul class="locale-list">
          <% for locale in @position.locales %>
            <li><%= locale_name_short(locale) %></li>
          <% end %>
        </ul>
        <% if signed_in? %>
          <%= link_to "Edit Position", edit_position_path(@position) %>
        <% end %>
      </p>
  </div>
</div>