<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
  <% end %>
  
  <p>
        <% if !user.institution_id.nil? %>
          <%= Institution.find_by_id(user.institution_id).name %>
          <% if !user.campus_id.nil? %>
            - <%= Campus.find_by_id(user.campus_id).name %>
          <% end %>
        <% end %>
      </p>
</li>