<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_tag(@user, method: :put) do %>
    <%= render 'shared/error_messages' %>
    <%= label :user, :name %>
    <%= text_field :user, :name %>

    <%= label :user, :email %>
    <%= text_field :user, :email %>

    <%= label :user, :password %>
    <%= password_field :user, :password %>

    <%= label :user, :password_confirmation, "Confirm Password" %>
    <%= password_field :user, :password_confirmation %>
    
    <%= render 'users/edit_institution'%>

    <%= submit_tag "Save changes", :class => "btn btn-large btn-primary" %>
      
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>