<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(@user, method: :put) do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    
    <div id="edit-institution" class="row">
      <div class="span2">
          <%= collection_select :selected_institution, :state, @states, :state, :state, { include_blank: 'Select a state' }, action: "/update_institutions_list" %>
      </div>
      <div class="span4">
          <% if @institutions.any? %>
              <%= f.collection_select :institution_id, @institutions, :id, :name, { include_blank: "Select an Institution" }, action: "/update_campuses_list", id: "institution_select"  %>
          <% else %>
              <%= f.collection_select :institution_id, [], :id, :name, { include_blank: "Select an Institution" }, { action: "/update_campuses_list", id: "institution_select", disabled: true } %>
          <% end %>
      </div>
      <div class="span3">
          <% if @campuses.any? %>
              <%= f.collection_select :campus_id, @campuses, :id, :name, { include_blank: "Select a Campus" }, { id: "campus_select" } %>
          <% else %>
              <%= f.collection_select :campus_id, [], :id, :name, { include_blank: "Select a Campus" }, { id: "campus_select", disabled: true } %>
          <% end %>
      </div>
      <div class="span2">
        <%= f.select :gradyear, User::GRADYEAR_LOWER..User::GRADYEAR_UPPER, { include_blank: "Graduation Year" } %>
      </div>
    </div>

    <%= submit_tag "Save changes", :class => "btn btn-large btn-primary" %>
      
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>