<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <div id="edit-institution" class="row">
        <div class="span2">
            <%= collection_select :selected_institution, :state, @states, :state, :state, { prompt: 'Select a state' }, action: "/update_institutions_list" %>
        </div>
        <div class="span2">
            <% if @institutions.any? %>
                <%= f.collection_select :institution_id, @institutions, :id, :name, { prompt: "Select an Institution" }, action: "/update_campuses_list", id: "institution_select"  %>
            <% else %>
                <%= f.collection_select :institution_id, [], :id, :name, { prompt: "Select an Institution" }, { action: "/update_campuses_list", id: "institution_select", disabled: true } %>
            <% end %>
        </div>
        <div class="span2">
            <% if @campuses.any? %>
                <%= f.collection_select :campus_id, @campuses, :id, :name, { prompt: "Select a Campus" }, { id: "campus_select" } %>
            <% else %>
                <%= f.collection_select :campus_id, [], :id, :name, { prompt: "Select a Campus" }, { id: "campus_select", disabled: true } %>
            <% end %>
        </div>
    </div>
      
      <%= f.submit "Create account", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
